{{!< default}}

<link rel="stylesheet" href="{{asset "built/css/katex.min.css"}}">
<link rel="stylesheet" href="{{asset "built/css/prism.css"}}">
<script defer src="{{asset "built/js/katex.min.js"}}"></script>
<script defer src="{{asset "built/js/auto-render.min.js"}}"></script>
<script defer src="{{asset "built/js/copy-tex.min.js"}}"></script>
<script src="{{asset "built/js/prism.js"}}"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    renderMathInElement(document.body, {
      // ...options...
    });
  });
</script>

{{#post}}

<main id="site-main" class="site-main outer">
  <div class="inner">
    <article class="post-full {{post_class}}">
      <header class="post-full-header">
        <section class="post-full-meta">
          <time class="post-full-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY"}}</time>
          {{#primary_tag}}
          <span class="date-divider">/</span> <a href="{{url}}">{{name}}</a>
          {{/primary_tag}}
        </section>
        <h1 class="post-full-title">{{title}}</h1>
      </header>

      <section class="post-full-content">
        <div class="post-content">
          {{content}}
        </div>
      </section>
    </article>
  </div>
</main>
{{/post}}